:root{
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

header{
    font-size: xx-large;
    color: rgb(0, 0, 37);
    font-weight: 700;
    text-align: center;
    padding-bottom: 1%;   
}
header>img{
    border-radius: 20px;
}
#containerTable{
    display: flexbox;
    columns: 3;
}
.overview{
    font-size: large;
    font-weight: bolder;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    color: white;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    cursor: pointer;
    border-radius: 5px;
}
#containerRows{
    display: flexbox;
    width: 90%;
    margin: 2%;
    columns: 3;
    border-radius: 1%;
    flex-wrap: wrap;
}
.columnData{
    display: block;
    float: left;
}
.rowData{
    padding: 5px;
    background-color: violet;
}
ul>li{
    list-style-type: none;
    font-size: 2.5vh;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border: 2px solid black;
}
ul>li>a{
    text-decoration: none;
    color: dodgerblue;
    animation: movement 2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
ul>li>a:hover{
    color: black;
}

/*Animations*/
@keyframes movement {
    0%{
        text-transform: capitalize;
    }
    30%{
        text-transform: uppercase;
    }
    60%{
        text-transform: lowercase;
    }
    100%{
        text-transform: capitalize;
    }
}